#header {
	margin-top: 50px;
}
#content {
	margin-top: 20px;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}
.dropdown, .navbar-brand {
	margin-left:14px;

	text-align: center;
}
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.content-headline {
	border-bottom: black solid 1px;
	text-align: right;
}

.content-headline > h2 {
	margin-top: 0;
	margin-bottom: 0;
}
.carousel-caption>span{
    background: rgba(0,0,0,0.5);
    font-weight: bolder;
    padding: 3px;
}